name: Validate

on:
  workflow_dispatch:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          override: true
          toolchain: stable
      - name: Cargo Check
        uses: actions-rs/cargo@v1.0.1
        with:
          command: check

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          override: true
          toolchain: stable
      - name: Clippy
        uses: actions-rs/clippy-check@v1
        with:
          args: --all-features
          token: ${{ secrets.GITHUB_TOKEN }}

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          override: true
          toolchain: stable
      - name: Cargo Format
        uses: actions-rs/cargo@v1.0.1
        with:
          command: fmt
          args: --all -- --check

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          override: true
          toolchain: stable
      - name: Cargo Test
        uses: actions-rs/cargo@v1.0.1
        with:
          command: test
